{% extends "base.html" %}

{% block title %}
    {{ profile.displayName }} 3D Portfolio
{% endblock %}

{% block content %}
    {% include 'header.html' %}

    <div class="col-md-9">

        <div class="skfb-grid-sort">
            <div class="btn-group" role="group" aria-label="Sort models">
                <button type="button" class="btn btn-sm btn-default active" data-action="sort-date">Most recent</button>
                <button type="button" class="btn btn-sm btn-default" data-action="sort-views">Most viewed</button>
                <button type="button" class="btn btn-sm btn-default" data-action="sort-likes">Most liked</button>
            </div>
        </div>

        <ul class="skfb-grid">
        {% for model in models %}
            <li class="skfb-grid-cell model" data-date="{{ model.publishedAt }}" data-views="{{ model.viewCount }}" data-likes="{{ model.likeCount }}">
                <a href="https://sketchfab.com/models/{{ model.uid }}" data-type="iframe" data-href="{{ model.embedUrl }}" data-gall="models" title="{{ model.name | e }}" class="ratio-16-9" style="background-image: url({{ model.thumbnails.images | imageUrlSize(640) }})">
                    <div class="ratio-inner">
                        <img src="{{ model.thumbnails.images | imageUrlSize(640) }}" alt="{{ model.name | e }}">
                    </div>
                </a>
            </li>
        {% endfor %}
        </ul>
    </div>

    {% include 'footer.html' %}
{% endblock %}
